/*
*  sudo gem install compass
*  http://thesassway.com/beginner/getting-started-with-sass-and-compass
*/

$card-width: 400px;
$card-height: 500px;
$gutter: 5px;


.card {
  width: $card-width;
  height: $card-height;
  background-color: rgba(192, 192, 192, 0.2);

  border-radius: 25px;
  border: 2px solid rgba(192, 192, 192, 1.0);

  float: left;
  margin-right: $gutter;
  margin-top: $gutter;

  padding: .5% 1%;
  overflow: scroll;


  //&:last-child {
  //  margin-right: 0px;
  //}
}

.c4x6 {
  width: $card-height;
  height: $card-width;
}

.c2x3 {
  width: $card-width/2;
  height: $card-height/2;
}

.c6x4 {
  width: $card-height;
  height: $card-width;
}

.c3x2 {
  width: $card-height/2;
  height: $card-width/2;
}

.card-preloader {
  display: none;
}